footer {
    padding: 15px 0;

    @media screen and (max-width: 990px) {
        padding: 15px 0 30px;
    }

    .fab {
        font-size: 1.2rem;
        color: $yellow;
    }

    .copy-wrapp {

        p, img {
            display: inline-block;
            vertical-align: middle;
        }

        img {
            width: 80px;
            height: auto;
            line-height: 0;
        }

        @media screen and (max-width: 990px) {
            p {
                padding: 25px 0 0 10px;
            }
        }
    }
}